@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top rated</title>
</head>
<body>
<main>

    <h2>Index page</h2>
    <h3>svg:</h3>
    <svg xmlns="http://www.w3.org/2000/svg" height="23" width="20" onload="myLanguageBadge(this)"></svg>

</main>
</body>
</html>