@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top rated</title>
</head>
<body>
<main>

    <h2>Home page</h2>
    <h3>Badges:</h3>
    <div style="display: table">
        <div style="display: table-cell">
            <div>C++ :</div>
            <img ng-src="/Badges/SimpleLanguageBadge?lang=C%2B%2B"
                 src="/Badges/SimpleLanguageBadge?lang=C%2B%2B"
                 alt="C++">
        </div>
        <div style="display: table-cell">
            <div>C :</div>
            <img ng-src="/Badges/SimpleLanguageBadge?lang=C"
                 src="/Badges/SimpleLanguageBadge?lang=C"
                 alt="C">
        </div>
    </div>

</main>
</body>
</html>