@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <h2>Home page</h2>
    <h3>Badges:</h3>
    <div style="display: table">
        <div style="display: table-cell">
            <div>C++ :</div>
            <img ng-src="/Badges/SimpleLanguageBadge?lang=C%2B%2B"
                 src="/Badges/SimpleLanguageBadge?lang=C%2B%2B"
                 alt="C++">
        </div>
        <div style="display: table-cell">
            <div>C :</div>
            <img ng-src="/Badges/SimpleLanguageBadge?lang=C"
                 src="/Badges/SimpleLanguageBadge?lang=C"
                 alt="C">
        </div>
    </div>

</main>